body{
    background-color: rgb(39, 39, 41);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;
   

}
p{
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}
header{
    color: antiquewhite;
    text-align: center;
    

}
div {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.687);
    text-align: center;
    


}
footer {
    color: antiquewhite;
    text-align: center;
    font-style: italic;

}